.pokedex__grid-filter { display: flex; justify-content: space-between; padding: 20px 20px 40px; }

.pokedex__grid-filter-container { display: flex; flex-direction: column; align-items: flex-start; }

.pokedex__grid-label { margin: 0 0 10px; }

.pokedex__grid-select { height: 30px; width: 150px; text-transform: uppercase; }